#gap{
        width: 100%;
        height: 20px;
        display: block;
    }
    .footer {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 100px;
        background: #343a40 !important;
        padding: 15px 0 10px;
        text-align: center;
        color: #888;
        font-size: 12px;
        line-height: 1.5;
    }

    .footer a{
        color: #ffffff;
    }
    .footer a:hover{
        color: #ffffff;
        text-decoration: none;
    }